{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
{% block content %}
<body>
<h1>Add Post</h1>
<hr>
{% load static %}
<form action="add_post" method="post">
    {% csrf_token %}
    {{ form.rate }}
    <hr>
    {{ form.slug }}
    <hr>
    {{ form.theme }}
    <hr>
    <hr>
    {{ form.message }}
    <hr>
    {{ form.rate }}
    <hr>
    <input type="submit" value="Submit"/>
</form>
<hr>
{% if errors %}
<div class="container">
    {% for error in errors %}
    <div class="row">
        {{error}}
    </div>
    <hr>
    {% endfor %}
</div>
{% endif %}

{% if successes %}
<p>{{ successes }}</p>
<hr>
{% endif %}


</body>
{% endblock %}